<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create A New Character!</h3>
  </div>
  <div class="panel-body">
    <form>
      <div>
        <label>Character Name:</label>
        <br>
        <input #newName>
      </div>

     <div>
       <label>Character Gender:</label>
       <br>
       <select #newGender>
         <option>Female</option>
         <option>Male</option>
         <option>Other</option>
       </select>
     </div>
     {{charisma}} {{dexterity}} {{intelligence}} {{strength}}
     <div>
       <label>Your father was a humble lumberjack. He worked hard every single day chopping down mighty trees and hauling the wood to sell in the village.

       Your mother was a ... </label>
       <br>
       <!-- <div *ngFor="let stat of stats">
         <label>
           <input type="radio" name="stat" [(ngModel)]="character.stat" [value]="stat.value">
           {{stat.display}}
         </label>
       </div> -->


       <div class="radio">
         <label>
           <input #motherC type="radio" name="mother">
           Barmaid
         </label>
       </div>
       <div class="radio">
         <label>
           <input #motherD type="radio" name="mother">
           Seamstress
         </label>
       </div>
       <div class="radio">
         <label>
           <input #motherI type="radio" name="mother">
           Cook
         </label>
       </div>
       <div class="radio">
         <label>
           <input #motherS type="radio" name="mother">
           Farmgirl
         </label>
       </div>
       {{motherC.checked}} {{motherD.checked}} {{motherI.checked}} {{motherS.checked}}
     </div>

     <!-- <div>
       <label>As a child you spent most of your time...</label>
       <br>
       <div class="radio">
         <label>
           <input #childhoodC type="radio" name="childhood">
           Helping your mother around the house.
         </label>
       </div>
       <div class="radio">
         <label>
           <input #childhoodD type="radio" name="childhood">
           Running and playing in the nearby woods.
         </label>
       </div>
       <div class="radio">
         <label>
           <input #childhoodI type="radio" name="childhood">
           Listening to the stories of the Village Elders.
         </label>
       </div>
       <div class="radio">
         <label>
           <input #childhoodS type="radio" name="childhood">
           Helping your father cut and haul lumber.
         </label>
       </div>
     </div>

     <div>
       <label>As a young adult you apprenticed with...</label>
       <br>

       <div class="radio">
         <label>
           <input #apprenticeC type="radio" name="apprentice">
           Your father
         </label>
       </div>
       <div class="radio">
         <label>
           <input #apprenticeD type="radio" name="apprentice">
           The Innkeeper
         </label>
       </div>
       <div class="radio">
         <label>
           <input #apprenticeI type="radio" name="apprentice">
           The Clergyman
         </label>
       </div>
       <div class="radio">
         <label>
           <input #apprenticeS type="radio" name="apprentice">
           The Stablemaster
         </label>
       </div>
     </div>

     <div>
       <label>One particularly harsh Winter, food and money were scarce. In an act of desperation to feed his family, your father stole some food so your family could make it through til spring. Unfortunately, the people that the food belonged to were well connected with the local lord, who then had your father executed for theft. This left your mother bereft of a means of living, so you decided to...</label>
       <br>

       <div class="radio">
         <label>
           <input #livingC type="radio" name="living">
           Take over the family business, chopping wood.
         </label>
       </div>
       <div class="radio">
         <label>
           <input #livingD type="radio" name="living">
           Roam the woods as a hunter.
         </label>
       </div>
       <div class="radio">
         <label>
           <input #livingI type="radio" name="living">
           Become a scholar.
         </label>
       </div>
       <div class="radio">
         <label>
           <input #livingS type="radio" name="living">
           Join the Village Militia.
         </label>
       </div>
     </div> -->

     <button (click)="submitForm(newName.value, newGender.value); newName.value=''; newGender.value=''">Add</button>
   </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Or select and/or edit one from our list:</h3>
  </div>
  <div class="panel-body">
    <div>
      <app-characters-list></app-characters-list>
    </div>
  </div>
</div>
